* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}

.navbar {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.home {
  text-align: center;
  margin-top: 100px;
}

.auth-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.auth-form h2 {
  text-align: center;
}

.auth-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form button {
  padding: 12px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}